<section class="hero is-large my-hero-a is-hidden-mobile">
  <div class="hero-body">
      <div class="container mt-3">
          <div class="content has-text-centered">
              <h1 class="is-size-1 has-text-white">SportsApp</h1>
              <p class="has-text-white">Software de control y seguimiento de torneos deportivos departamentales.</p>
              
              <div class="buttons is-centered">
                <button class="button is-light is-rounded">Login</button>
                <button class="button is-light is-rounded">Signup</button>
              </div>
              
          </div>
      </div>
  </div>
</section>
