<nav class="navbar has-shadow is-light mb-5" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="">Home</a>
        <a class="navbar-item" routerLink="profile">Profile</a>
        <a class="navbar-item">Teams</a>
        <a class="navbar-item">Tournaments</a>
        <a class="navbar-item">Scenarios</a>


     
      
      </div>
  
      <div class="navbar-end">
        <a class="navbar-item">Login</a>
          <div class="navbar-item" >
            <div class="buttons">
              <a class="button is-dark" routerLink="signup">Signup</a>
            </div>
          </div> 
      </div>
    </div>
</div>
</nav>
<router-outlet></router-outlet>
