<div class="container">
  <main class="content">
    <div class="columns">
      <div class="column"></div>
      <div class="column">
        <div class="card">
          <header class="card-header has-text-centered">
            <p class="card-header-title">Log In</p>
          </header>
          <div class="card-content">
            <form>
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input class="input" type="email"   name="email" placeholder="user@example.com"/>
                  <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input class="input" type="password"  name="password" placeholder="contraseña"/>
                  <span class="icon is-small is-left"><i class="fa fa-key fa-fw"></i></span>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <button class="button is-dark is-fullwidth" type="submit">Login </button>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="column"></div>
    </div>
  </main>
</div>