<div class="container">
  <main class="content">
    <div class="columns">
      <div class="column">
        <figure class="image is-128x128">
          <img class="" src="../../../assets/user.png">
          <span class="tag is-success"><small>{{ user["role"] }}</small></span>
          <p><strong>{{ user["firstname"] }} {{ user["lastname"] }}</strong></p>
          <p class="is-muted"><span>{{ user["email"] }}</span></p>
          <button class="button">Edit</button>
        </figure>
        <div>
          
         
        </div>
      </div>
      <div class="column"></div>
      <div class="column"></div>
    </div>
  </main>
</div>